header{
    margin: auto;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px 0;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav{
    display: flex;
    gap: 35px;
}
.header__nav-link{
    font-weight: 400;
    font-size: 24px;
    color: #000;
    text-decoration: none;
}
.header__btns{
    display: flex;
    gap: 20px;
}