.popularproducts-title{
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #000;
}
.popularproducts-items{
    display: flex;
    justify-content: space-between;
}
.popularproducts__inner{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.popularproducts{
    margin-bottom: 50px;
}